<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CodingChallengeApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>851093CA1C46143300C2D8DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>851093E31C46143400C2D8DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>851093EE1C46143400C2D8DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
